body{font-family: microsoft yahei,Arial;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,ol,li,ul,p,dl,dt,dd{padding: 0;margin:0}
ul,ol,li,dl,dt,dd{text-decoration: none;list-style: none}
.lf{float: left}
.rt{float: right}
.clear{clear:both}
.ovh{overflow: hidden}
a{  color:#303030;  text-decoration:none;  }
a:hover{  text-decoration:none;  }
input{border:none;outline:none;}
img{border:none}
