<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.travel.mapper.SellerMapper">
    <select id="findSellerBySid" resultType="com.hy.travel.model.Seller">
        SELECT * FROM tab_seller WHERE sid = #{sid}
    </select>
</mapper>